@font-face {
    font-family: myFont;
    src:url("https://cdn.glitch.global/053f5bff-da77-4abe-b93c-734171d17818/CormorantSC-Medium.ttf?v=1668006125292");
}

h1 {
    color: white;
    font-size: 40px;
    text-align: center;
    font-family: myFont;

}
h2 {
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: myFont;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: .5;
    margin: auto;
    padding: 0px;
    background-color: black;
    color: white;
}
button{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 15px;
    color: white;
    background-color: black;
    cursor: pointer;
    font-size: 16px;
    font-family: myFont;
    padding: 16px 20px;
    border:2px solid white;

}
button:hover{
    color:black;
    background-color: white;

}